@media (max-width: 640px){
  .title-page h1 {
    font-size: 3rem;
    width: 250px;
  }
  .title-page h1::before {
    content: '';
    position: absolute;
    width: 230px;
    height: 6px;
    background-color: transparent;
    top: 90%;
    left: 0;
    animation: fadeDecoration .5s 1.3s ease forwards;
  }

  .price-caption {
    left: 67%;
  }

  #first-phase,  #second-phase{
    font-size: 1.5rem;
    width: 300px;
  }

  .title-plan{
    font-size: 2rem;
  }

  .banner-img {
    display: none;
  }

  .text-banner-home {
    width: auto;
  }

  .text-banner-home p {
    width: 400px;
  }

  .list-plan {
    display: block;
  }

  .plan-container {
    display: flex;
    place-content: center;
  }

  .title-page {
    top: 5%;
  }

}

@media (max-width: 400px) {
  .text-banner-home p {
    width: 350px;
  }
}

@media (max-height:	640px) {
  .title-page {
    top: 0%;
  }
}

@media (min-width:	640px) {
  .title-page h1 {
    font-size: 4rem;
    width: 250px;
  }

  .title-page h1::before {
    content: '';
    position: absolute;
    width: 330px;
    height: 6px;
    background-color: transparent;
    top: 90%;
    left: 0;
    animation: fadeDecoration .5s 1.3s ease forwards;
  }

  #first-phase,  #second-phase{
    font-size: 1.5rem;
    width: 450px;
  }

  .title-page {
    top: 5%;
  }

  .price-caption {
    left: 63%;
  }
}






